---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ego Challenge">
  <h1 class="text-4xl font-semibold mt-20">¡Hola, Astro!</h1>
  <p class="mt-4">¡Bienvenido a tu nuevo proyecto de Astro!</p>
</Layout>

<style></style>
