---
import Layout from '../layouts/Layout.astro';

import Cars from '../components/ui/client/Cars';
---

<Layout title="Ego Challenge">
  <h1
    data-aos="fade-in "
    data-aos-duration="600"
    class="text-4xl sm:text-5xl font-bold pb-12 sm:pb-20"
  >
    Descubrí todos los modelos
  </h1>
  <Cars client:only="preact" />
</Layout>
