---
import Layout from '../layouts/Layout.astro';
import { type Models } from '../utils/interfaces/models.interface';
import Cars from '../components/ui/client/Cars';

const response = await fetch('https://challenge.egodesign.dev/api/models/');
const models = (await response.json()) as Models[];
---

<Layout title="Ego Challenge">
  <h1 class="text-4xl sm:text-5xl font-bold pb-12 sm:pb-20">
    Descubrí todos los modelos
  </h1>
  <Cars models={models} client:load />
</Layout>
