---
import { Image } from 'astro:assets';

interface Props {
  image: string;
  name: string;
  description: string;
}

const { name, image, description } = Astro.props;
---

<article class="flex flex-col gap-2 max-w-[268px] bg-transparent">
  <Image class={'rounded-lg'} src={image} alt={''} width={268} height={146} />
  <h3 class="text-xl font-semibold">{name}</h3>
  <div class="h-16 overflow-hidden relative">
    <p>{description}</p>
    <div
      class="absolute h-full w-full top-0 left-0 bg-gradient-to-b from-transparent to-app-bg-secondary"
    >
    </div>
  </div>
</article>
