---
import SvgLogo from '../assets/SvgLogo.astro';
import SvgMenu from '../assets/SvgMenu.astro';


const { pathname } = Astro.url

---

<header
  class="flex items-center justify-between px-4 sm:px-12 h-[70px] border-b"
>
  <div class="flex items-center gap-20">
    <a href="/">
      <SvgLogo />
    </a>
    <nav class="hidden sm:block">
      <ul class="flex items-center gap-5">
        <li
          class:list={["h-[70px] font-semibold text-sm border-b-4 border-transparent cursor-pointer hover:border-app-accent hover:text-app-accent duration-200 flex items-center px-6", {
            'border-app-accent  text-app-accent': pathname === '/',
          }]}
        >
          Modelos
        </li>
        <li
        class:list={["h-[70px] font-semibold text-sm border-b-4 border-transparent cursor-pointer hover:border-app-accent hover:text-app-accent duration-200 flex items-center px-6", {
          'border-app-accent text-app-accent': pathname.includes('/model'),
        }]}
        >
          Ficha de Modelo
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex items-center gap-4">
    Menú
    <SvgMenu />
  </div>
</header>
